.container {
    width: 100%;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.native-input {
    font-size: 15px !important;
    font-weight: 600;
    font-family: 'Roboto';

}

.set-input {
    border-bottom: 1px solid #949494;

}

.sc-ion-input-md-h {
    padding-bottom: 0px !important;
}

.login-screen {
    position: inherit;
    z-index: 0;
    background-image: none;
    text-align: center;

}

.login-screen {
    padding: 36px 0;
}

.green-btn {
    padding: 15px 30px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Roboto';
    outline: 0 !important;
    cursor: pointer;
    margin-bottom: 10px;
    margin: 30px 0;
}

.sign-txt.green-btn {
    background: transparent;
    color: #39B00E !important;
}

.sign-txt {
    font-size: 14px;
    color: #9b9b9b;
    text-align: center;
    margin-top: 20px;
}

.sign-btn-sec {
    // float: left;
    width: 100%;
}

.forget-rw {
    width: 100%;
    padding-bottom: 28px;
    padding-top: 20px;
    float: left;

}

.frg-pass {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
}

.for-sec {
    float: right;
}

.sign-txt a {
    color: #39B00E;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 600;
}

ion-item {
    box-shadow: none;
    --highlight-background: 0px: height: 50px;
    background: none !important;
}

::ng-deep input::selection {
    background: none !important;
}

ion-item::part(native) {
    min-height: 1px;
}

ion-input {
    --padding-start: 15px !important;
    --highlight-color: #3F71EB !important;
}

.mt-30 {
    margin-top: 30px;
}

.itemform {
    border: 1px solid rgba(148, 148, 148, 0.3);
    height: 10%;
    width: 100%;
    border-radius: 4px;
    --background: var(--grey-bg-color);
}

.eye {
    font-size: 20px;
    margin-right: -10px;
}

#loginform .alert {
    position: relative;
    margin: 0px 20px;
    top: 30px;
}

.uppercase {
    text-transform: uppercase;
}

.speech-bubble {
    right: 0px;
    position: absolute;
    width: 220px;
    color: #FFFFFF;
    text-align: left;
    padding: 17px;
    background: var(--bg-color);
    border-radius: 2px;
    border: #949494 solid 1px;
    display: block;
    margin: 0 auto;
    font-size: 15px;
    color: #949494;
    font-family: 'Roboto';
    z-index: 2;
}

.login-section.setting-password .speech-bubble.pass-txt {
    right: 0;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 10px solid #949494;
    display: block;
    width: 0;
    z-index: 1;
    top: -11px;
    left: 184px;
}

.tooltip-div {
    display: none;
}

.close-bubble {
    color: #3F71EB;
    width: 100%;
    text-align: right;
    display: block;
    margin-top: 20px;
}

.btn:focus,
.btn.focus {
    outline: none !important;
    box-shadow: none !important;
}

ion-modal {
    --height: 380px;
    --border-radius: 6px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    align-items: center;
}

ion-modal::part(content) {
    --width: 280px !important;
}

.bdr {
    border: 1px solid;
    border-color: hsl(218, 100%, 61%);
    color: #3880ff;
}

.butn {
    padding: 12px 30px;
    margin-top: 18px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.8px;
}

.native-input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: rgba(148, 148, 148, 0.2) !important;
    background: red !important;
}

.position-btm {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    background: var(--bg-color);
}

ion-popover::part(content) {
    overflow: visible;
}

.ion-padding::after {
    right: 12px;
    top: -4px;
    border-radius: 3px;
    position: absolute;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    background: var(--background);
    content: "";
    z-index: 10;
}

.tooltipeye {
    position: absolute;
    top: -33px;
    right: 19px;
    z-index: 99;
}

.ion-padding {
    color: #949494;
}
.sc-ion-input-md-h {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    min-height: 42px; 
}
ion-modal#acct_migr{--height: auto !important;}
.ios .ion-padding::after {content: none;}
.pwdtoggleicon{
    position: absolute;
    right: 18px;
    top: 12px;
    z-index: 999;
}
ion-content{
    --keyboard-offset: 0 !important;
 }
 .redirectLink{
    color: #3F71EB;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }
  .custom-placeholder::part(placeholder) {
  text-transform: uppercase; /* Or any other text-transform value */
}
